.comicnav select
{
    margin: 15px 0 0 0;
    vertical-align: middle;
    display: inline-block;
}

.comicnav img
{
    vertical-align: middle;
    display: inline-block;
}

.menu
{
    white-space: nowrap;
}

.comic-title2
{
    background: white url("http://www.smackjeeves.com/templates/its_raining_outside/images/1337r.png");
    border: 3px solid black;
    padding: 4px;
}